.bd
{
    background-image: url('/img/7.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    margin-top: 78px;
    padding: 15px;
    font-size: 50px;
    color: white;
    background-color:black;
}



button
{
    padding:25px;
    margin:150px 100px 0px 300px;
    font-size:20px;
    font-weight:bold;
    cursor: pointer;
    background-color:white;
    border-radius: 25px;
    border-color: black;

}